@import "compass";

$headerHeigth: 150px;
$titleSize: 64px;

$nbElementsPerLine: 8;

* { 
    font-family: Roboto;
}

body{
    margin: 0;
}

.header {
    margin: 0;
    height: $headerHeigth;
    background-color: #4383f1;
    color: #fff;

    .title {
        padding-top: ($headerHeigth - $titleSize)/2 - 6px;
        padding-left: 30px;
        font-size: $titleSize;
    }
}

.content {
    padding-left :100px;
    padding-right: 100px;
    margin-top: 16px;
}