@import "compass";

$headerHeigth: 100px;
$titleSize: 52px;

$maxNumberTilesPerLine: 4;
$widthTiles: 250px;
$heightTiles: 500px;
$marginTiles: 10px;
$paddingTiles: 20px;

$iconSize: 75px;

$backgroundColor: #2196F3;

* {
    font-family: Roboto;
}

body{
    margin: 0;
}

.display-none {
    display: none;
}

.header {
    margin: 0;
    height: $headerHeigth;
    background-color: $backgroundColor;
    color: #fff;

    .logo-click {
        width: 250px; height: 100%;
        float: left;

        text-decoration: none;
        color: #fff;
    }

    .title {
        padding-top: ($headerHeigth - $titleSize)/2 - 6px;
        padding-left: 30px;
        font-size: $titleSize;
    }
}

.content {
    width: 100%;
    
    text-shadow: 0 0 1px rgba(255,255,255,0.004);
    font-size: 100%;
    font-weight: 400;
    background-color: white;
}

.grid {
    max-width: $maxNumberTilesPerLine * ($widthTiles + ($marginTiles + $paddingTiles + 2px)*2);
    margin: 0 auto;
    list-style: none;
    padding: 0;

    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    display: block;
    margin: $marginTiles;
    margin-top: 10px;

    //padding: 20px;
    width: $widthTiles;
    height: $heightTiles;
    
    background: $backgroundColor;
    transition: all 150ms ease-in-out;

    border: 1px solid lighten($backgroundColor, 60);
    overflow: hidden;

    header {
        text-align: center;
        padding: 10px;
    }

    .tile-title, .tile-subTitle {
        color: white;
        line-height: 1.25;
    }

    .tile-title {
        font-size: 2.8rem;
    }

    .tile-subTitle {
        font-size: 1.5rem;
    }

    &:hover {
        background: darken($backgroundColor, 20);
        border-color: darken($backgroundColor, 20);
        box-shadow: 0 1px 40px rgba(darken($backgroundColor, 90), 0.15);

        img {
            //width: $iconSize * 1.25; height: $iconSize * 1.25;*
            transform: scale(1.25);
        }

        article .startBtn {
            transform: translateY(0px);
        }
    }

    .icon {
        width: 100%; height: $iconSize * 1.25;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;

        &.round>img{
            @include border-radius(50px);
        }
    }

    img {
        width: $iconSize; height: $iconSize;
        transition: all 150ms ease-in-out;
    }

    article{
        font-size: 14px;
        color: darkslategray;
        background-color: white;
        overflow: hidden;
        height: 40%;

        padding: 10px;
        position: relative;

        .startBtn {
            width: calc(100% - 20px);
            margin-bottom: 10px;
            @include border-radius(5px);
            position: absolute;
            height: 30px;
            bottom: 0;
            

            background-color: darken($backgroundColor, 20);
            border: 0;
            color: white;

            display : flex;
            justify-content: center;
            align-items: center;

            transform: translateY(50px);

            
            transition: all 0.5s;

            span {
                display : inline-flex;
                position: relative;
                transition: 0.5s;

                &:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }
            }

            &:hover span {
                padding-right: 25px;

                &:after {
                    opacity: 1;
                    right: 0;
                }
            }
        }
    }

    .tile-text {
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    footer {
        padding: 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 560px){
    .header {
        background-color: #f00;
    }
}