/* line 16, ../scss/style.scss */
* {
  font-family: Roboto;
}

/* line 20, ../scss/style.scss */
body {
  margin: 0;
}

/* line 24, ../scss/style.scss */
.display-none {
  display: none;
}

/* line 28, ../scss/style.scss */
.header {
  margin: 0;
  height: 100px;
  background-color: #2196F3;
  color: #fff;
}
/* line 34, ../scss/style.scss */
.header .logo-click {
  width: 250px;
  height: 100%;
  float: left;
  text-decoration: none;
  color: #fff;
}
/* line 42, ../scss/style.scss */
.header .title {
  padding-top: 18px;
  padding-left: 30px;
  font-size: 52px;
}

/* line 49, ../scss/style.scss */
.content {
  width: 100%;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.004);
  font-size: 100%;
  font-weight: 400;
  background-color: white;
}

/* line 58, ../scss/style.scss */
.grid {
  max-width: 1256px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 70, ../scss/style.scss */
.tile {
  display: block;
  margin: 10px;
  margin-top: 10px;
  width: 250px;
  height: 500px;
  background: #2196F3;
  transition: all 150ms ease-in-out;
  border: 1px solid white;
  overflow: hidden;
}
/* line 85, ../scss/style.scss */
.tile header {
  text-align: center;
  padding: 10px;
}
/* line 90, ../scss/style.scss */
.tile .tile-title, .tile .tile-subTitle {
  color: white;
  line-height: 1.25;
}
/* line 95, ../scss/style.scss */
.tile .tile-title {
  font-size: 2.8rem;
}
/* line 99, ../scss/style.scss */
.tile .tile-subTitle {
  font-size: 1.5rem;
}
/* line 103, ../scss/style.scss */
.tile:hover {
  background: #0960a5;
  border-color: #0960a5;
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.15);
}
/* line 108, ../scss/style.scss */
.tile:hover img {
  transform: scale(1.25);
}
/* line 113, ../scss/style.scss */
.tile:hover article .startBtn {
  transform: translateY(0px);
}
/* line 118, ../scss/style.scss */
.tile .icon {
  width: 100%;
  height: 93.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 126, ../scss/style.scss */
.tile .icon.round > img {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* line 131, ../scss/style.scss */
.tile img {
  width: 75px;
  height: 75px;
  transition: all 150ms ease-in-out;
}
/* line 136, ../scss/style.scss */
.tile article {
  font-size: 14px;
  color: darkslategray;
  background-color: white;
  overflow: hidden;
  height: 40%;
  padding: 10px;
  position: relative;
}
/* line 146, ../scss/style.scss */
.tile article .startBtn {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  height: 30px;
  bottom: 0;
  background-color: #0960a5;
  border: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
  transition: all 0.5s;
}
/* line 168, ../scss/style.scss */
.tile article .startBtn span {
  display: inline-flex;
  position: relative;
  transition: 0.5s;
}
/* line 173, ../scss/style.scss */
.tile article .startBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
/* line 183, ../scss/style.scss */
.tile article .startBtn:hover span {
  padding-right: 25px;
}
/* line 186, ../scss/style.scss */
.tile article .startBtn:hover span:after {
  opacity: 1;
  right: 0;
}
/* line 194, ../scss/style.scss */
.tile .tile-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 199, ../scss/style.scss */
.tile footer {
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 560px) {
  /* line 206, ../scss/style.scss */
  .header {
    background-color: #f00;
  }
}
