/* line 4, ../scss/style.scss */
table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

/* line 11, ../scss/style.scss */
th, td {
  text-align: left;
  padding: 8px;
}

/* line 16, ../scss/style.scss */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 20, ../scss/style.scss */
.btn, .btn-delete, .btn-update, .btn-add {
  border-radius: 10px;
  width: 50px;
  height: 25px;
}

/* line 25, ../scss/style.scss */
.btn-delete {
  background-color: tomato;
}

/* line 31, ../scss/style.scss */
.btn-update {
  background-color: lightskyblue;
}

/* line 37, ../scss/style.scss */
.btn-add {
  background-color: darkgray;
}

/* line 43, ../scss/style.scss */
.display-none {
  display: none;
}
