$colorFocus: $backgroundColor;

.textField {
    font-size: 16px;
    width: 500px;

    position: relative;
    height: 42px;
    padding: 16px 0 8px 0;

}

.field-label{
    position: relative;
    color: lighten(#000, 75%);
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin: 0;

    transform: translateY(24px);
    transition: transform 0.3s, font-size 0.3s;
}

.field-input{
    position: relative;
    display: block;
    width: 100%;
    padding: 8px 0;

    font-size: 16px;
    line-height: 16px;

    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}

.textField::after, .textField::before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: #e7e7e7;
}

.textField::after {
    background-color: $colorFocus;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.textField.isFocused::after {
    transform: scaleX(1);
}

.isFocused .field-label{
    color: $colorFocus;
}

.hasLabel .field-label{
    transform: translateY(0);
    font-size: 12px;
}
